name: Unit testing

on:
  push: { branches: [main] }
  pull_request: { branches: [main] }

jobs:
  unit-testing:
    name: Test the code
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@master
            
      - name: Install go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'

      - name: Install dependencies
        run: go mod download

      - name: Test the code
        run: go test ./...
